.categories {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #D8D8D8;
  ul > li{
    margin-bottom: 30px;
    font-size: 20px;
    &:first-child{
      font-weight: 600;
    }
  }
  &_button{
    background-color: #ffff;
    font-weight: 400;
    font-size: 15px;
    color: #ABABAB;
  }
}
