.button{
  &_primary{
    padding: 12px 24px;
    background: #2D70FD;
    color: #fff;
    border-radius: 4px;
  }
  &_secondary{
    padding: 12px;
    background: #b22222;
    color: #fff;
    border-radius: 4px;
  }
}
